body {
    background-color: #f4f6f6;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.main-title {
    text-align: center;
    color: #ff4500;
    text-shadow: 2px 2px #FFD700;
    font-size: 3em;
    padding: 20px;
}

.animal-subtitle {
    text-align: center;
    color: #008000;
    text-shadow: 1px 1px #FF69B4;
    font-size: 2em;
    padding: 10px;
    margin-top: 20px;
    border-bottom: 3px dotted #ff4500;
}




img {
    display: block;
    margin: 20px auto;
    max-width: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: transform 0.5s ease-in-out;  /* Added this line */
    cursor: pointer;

}


.kitty {

    cursor: crosshair;

}



.nav-link {
    display: block;
    text-align: center;
    background-color: #008000;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    margin: 30px auto;
    font-size: 1.2em;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.nav-link:hover {
    background-color: #ff4500;
    transition: background-color 0.5s ease;
}

.enlarged {
    transform: scale(1.8);
    transition: transform 0.5s ease-in-out;
}

